.pages{
	width: 800px;
	height: auto;
	background-color: #BA68C8;
	margin:0 auto;
}
.pages h1{
	text-align: center;
}
.pages .state span {
	width: 200px;
	padding-left:30px;
	border:1px dashed red;
}
.pages .item div{
	border:1px solid pink;
}
.pages .item div span{
	float: left;
	display: block;
	width: 800PX;
}
.pages .item div button{
	width: 200px;
	display: block;
	margin:0 auto;
	float:right;
}
.pages img{
	width: 100px;
	height: 100px;
}